server {
    server_name ctf;
    listen      443 ssl;
    root        /srv/http/ctf;
    charset     utf-8;
    ssl_certificate         /srv/certs/fullchain.pem;
    ssl_certificate_key     /srv/certs/privkey.pem;

    error_page 404  =  /404.html;

    location / {
        default_type text/html;
        index  index.html;
    }
	
	location /nginx_status {
		stub_status on;
		access_log off;
	}

    location ~ /problem-static/ {
        default_type application/octet-stream;
    }

    location ~ /api/ {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://localhost:8000;
        proxy_redirect off;
    }
}
